<% customers.each.with_index(1) do |customer, i| %>
<div class="col-xs-6 col-6 col-sm-3 text-center">
  <h4><strong>第<%= i %>位</strong></h4>
  <%= link_to customer_path(customer) do %>
  <%= attachment_image_tag customer, :profile_image,  fallback: "no_customer_image.jpg", class: "profile-image circle" %>
  <h5><%= customer.nickname %></h5>
  <% end %>
  <p>フォロワー数：<%= customer.followed.count %> / 投稿数：<%= customer.pairs.count %></p>
</div>
<% end %>