<div class="row">
  <div id="error_explanation">
    <%= flash[:error] %>
  </div>

  <h2 class="heading text-center">会員詳細</h2>

  <div class="col-sm-3 text-center">
    <h4><strong>会員情報</strong></h4>

    <table class="table table-borderless">
      <tr>
        <%= attachment_image_tag @customer, :profile_image, :fill, 160, 160, fallback: "no_customer_image.jpg", size: "160x160", class: "profile-image"  %>
      </tr>
      <tr>
        <th class="text-center"><p><strong><%= @customer.nickname %></strong></p></th>
      </tr>
      <tr>
        <th class="text-center">フォロー数：<%= link_to @customer.follower.count, customer_follows_path(@customer) %></th>
      </tr>
      <tr>
        <th class="text-center">フォロワー数：<%= link_to @customer.followed.count, customer_followers_path(@customer) %></th>
      </tr>
    </table>

    <% if @customer == current_customer %>
    <div class="link-button">
      <%= link_to like_pairs_path do %>
      <p class="btn btn-warning btn-lg btn-block">
        <i class="fas fa-heart"> お気に入り一覧</i>
      </p>
      <% end %>
    </div>
    <div class="link-button">
      <%= link_to edit_customer_path(@customer) do %>
      <p class="btn btn-success btn-lg btn-block">
        <i class="fas fa-user-edit"> 登録情報編集</i>
      </p>
      <% end%>
    </div>
    <div class="link-button">
      <%= link_to edit_customer_registration_path(@customer) do %>
      <p class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-key"> パスワード変更</i>
      </p>
      <% end %>
    </div>
    <% else %>
    <div class="link-button">
      <% if current_customer.following?(@customer) %>
      <%= link_to "フォローをやめる", customer_relationships_path(@customer.id), method: :DELETE, class: "btn btn-danger btn-lg btn-block" %>
      <% else %>
      <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :POST, class: "btn btn-success btn-lg btn-block" %>
      <% end %>
    </div>
    <div class="link-button">
      <%= link_to chat_path(@customer.id) do %>
      <p class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-comments"> チャットを始める</i>
      </p>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="col-sm-9">
    <% @pairs.each do |pair| %>
    <div class=col-sm-4>
      <% if pair.created_at > 24.hours.ago %>
      <span class="badge badge-primary new-badge">New</span>
      <% end %>
      <%= link_to pair_path(pair) do %>
      <%= attachment_image_tag pair, :image, :fill, 260, 260, fallback: "no_image.jpg", size: "260x260", class: "pair-image" %>
      <h5 class="text-center"><%= pair.title %></h5>
      <% if customer_signed_in? %>
      <div class="text-center">
        <% if pair.liked_by?(current_customer) %>
        <%= link_to pair_likes_path(pair), method: :DELETE do %>
        <i class="fas fa-heart red-heart"> <span><%= pair.likes.count %></span></i>
        <% end %>
        <% else %>
        <%= link_to pair_likes_path(pair), method: :POST do %>
        <i class="far fa-heart"> <%= pair.likes.count %></i>
        <% end %>
        <% end %>
        <span> / <i class="fas fa-comment-alt"></i> <%= pair.comments.count %></span>
      </div>
      <% end %>
      <% end %>
    </div>
    <% end %>
    <div class="text-center col-sm-12"><%= paginate @pairs %></div>
  </div>

</div>
