<% provide(:title, "会員詳細") %>

<div class="row">

  <div id="error_explanation">
    <%= flash[:error] %>
  </div>

  <h2 class="heading text-center">会員詳細</h2>

  <div class="col-12 col-xs-12 col-sm-3 text-center">
    <div class="col-6 col-xs-6 col-sm-12">
      <h4><strong>会員情報</strong></h4>

      <table class="table table-borderless">
        <tr>
          <%= attachment_image_tag @customer, :profile_image, fallback: "no_customer_image.jpg", class: "show-profile-image circle"  %>
        </tr>
        <tr>
          <th class="text-center"><p><strong><%= @customer.nickname %></strong></p></th>
        </tr>
        <tr>
          <th class="text-center"><p>フォロー数：<%= link_to @customer.follower.count, customer_follows_path(@customer) %></p></th>
        </tr>
        <tr>
          <th class="text-center"><p>フォロワー数：<%= link_to @customer.followed.count, customer_followers_path(@customer) %></p></th>
        </tr>
      </table>
    </div>

    <div class="col-6 col-xs-6 col-sm-12">
      <% if @customer == current_customer %>
      <div class="link-button">
        <%= link_to like_pairs_path do %>
        <p class="btn btn-brown btn-lg btn-block faa-parent animated-hover">
          <i class="fas fa-heart faa-wrench"></i> お気に入り一覧
        </p>
        <% end %>
      </div>
      <div class="link-button">
        <%= link_to edit_customer_path(@customer) do %>
        <p class="btn btn-brown btn-lg btn-block faa-parent animated-hover">
          <i class="fas fa-user-edit faa-wrench"></i> 登録情報編集
        </p>
        <% end%>
      </div>
      <div class="link-button">
        <%= link_to edit_customer_registration_path(@customer) do %>
        <p class="btn btn-brown btn-lg btn-block faa-parent animated-hover">
          <i class="fas fa-key faa-wrench"></i> パスワード変更
        </p>
        <% end %>
      </div>
      <% else %>
      <div class="link-button">
        <% if current_customer.following?(@customer) %>
        <%= link_to "フォローをやめる", customer_relationships_path(@customer.id), method: :DELETE, class: "btn btn-danger btn-lg btn-block" %>
        <% else %>
        <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :POST, class: "btn btn-brown btn-lg btn-block" %>
        <% end %>
      </div>
      <div class="link-button">
        <%= link_to chat_path(@customer.id) do %>
        <p class="btn btn-brown btn-lg btn-block faa-parent animated-hover">
          <i class="fas fa-comments faa-wrench"> チャットを始める</i>
        </p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-12 col-xs-12 col-sm-9">
    <% @pairs.each do |pair| %>
    <div class="col-6 col-xs-6 col-sm-4 text-center">
      <% if pair.created_at > 24.hours.ago %>
      <span class="badge badge-danger new-badge">New</span>
      <% end %>
      <%= link_to pair_path(pair) do %>
      <%= attachment_image_tag pair, :image, fallback: "no_image.jpg", class: "pair-image circle" %>
      <h6 class="sp-non-title"><%= pair.title %></h6>
      <% if customer_signed_in? %>
      <div id="index_like_button_<%= pair.id %>">
        <%= render 'customer/likes/like_index', pair: pair %>
      </div>
      <% end %>
      <% end %>
    </div>
    <% end %>
    <div class="text-center col-12 col-xs-12 col-sm-12"><%= paginate @pairs %></div>
  </div>

</div>
