<div class="row">
  <h2 class="heading text-center">会員詳細</h2>

  <div class="col-sm-2 text-center">
    <h3>会員情報</h3>
    <%= attachment_image_tag @customer, :profile_image, :fill, 160, 160, fallback: "no_customer_image.jpg", size: "160x160", class: "profile-image"  %><br>
    <p><strong><%= @customer.nickname %></strong></p>
    <% if @customer == current_customer %>
    <div class="link-button">
      <%= link_to "お気に入り一覧", like_pairs_path, class: "btn btn-warning btn-lg btn-block" %>
    </div>
    <div class="link-button">
      <%= link_to "登録情報編集", edit_customer_path(@customer), class: "btn btn-success btn-lg btn-block" %>
    </div>
    <div class="link-button">
      <%= link_to "パスワード変更", edit_customer_registration_path(@customer), class: "btn btn-primary btn-lg btn-block" %>
    </div>
    <% end %>
  </div>

  <div class="col-sm-offset-1 col-sm-9">
    <h3>投稿</h3>

    <% @customer.pairs.each do |pair| %>
    <div class=col-sm-4>
      <%= link_to pair_path(pair) do %>
      <%= attachment_image_tag pair, :image, :fill, 260, 260, fallback: "no_image.jpg", size: "260x260", class: "pair-image" %>
      <h5 class="text-center"><%= pair.title %></h5>
      <% if customer_signed_in? %>
      <div class="text-center">
        <% if pair.liked_by?(current_customer) %>
        <%= link_to pair_likes_path(pair), method: :DELETE do %>
        <i class="fas fa-star"><%= pair.likes.count %></i>
        <% end %>
        <% else %>
        <%= link_to pair_likes_path(pair), method: :POST do %>
        <i class="far fa-star"><%= pair.likes.count %></i>
        <% end %>
        <% end %>
        <span>/ コメント数：<%= pair.comments.count %></span>
      </div>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>

</div>
