<div class="row">
  <div class="top-heading col-sm-12 text-center">
    <h1 class="top-title "><strong>Welcome to PairingTime</strong></h1>
    <br>
    <p class="top-description">~ 皆さんがほっと一息つく時間をもっと楽しく ~</p>
  </div>

  <div class="row">
    <% @random_pairs.each do |pair| %>
    <div class=col-sm-3>
      <%= link_to pair_path(pair) do %>
      <%= attachment_image_tag pair, :image, :fill, 260, 260, fallback: "no_image.jpg", size: "260x260", class: "pair-image" %>
      <h5 class="text-center"><%= pair.title %></h5>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="row text-center link-button">
    <div class="col-sm-6">
      <%= link_to "お問い合わせ", "#", class: "btn btn- btn-lg btn-primary col-sm-12" %>
    </div>
    <div class="col-sm-6">
      <%= link_to "投稿をもっと見る", pairs_path, class: "btn btn-lg  btn-success col-sm-12" %>
    </div>
  </div>
</div>



