<div class="row">
  <div class="search-form col-sm-4 pull-right">
    <%= form_tag(search_path, method: :GET) do %>
    <div class="input-group">
      <%= text_field_tag 'search[content]', "", class: "form-control", placeholder: "タイトルで検索" %>
      <span class="input-group-btn">
        <%= button_tag type: "submit", class: "btn btn-primary" do %>
        <i class="fas fa-search"></i>
        <% end %>
      </span>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="top-heading col-sm-12 text-center">
    <h1 class="top-title "><strong>Welcome to PairingTime</strong></h1>
    <br>
    <p class="top-description">~ 皆さんがほっと一息つく時間をもっと楽しく ~</p>
  </div>

  <div class="row">
    <%= render 'customer/pairs/index', pairs: @random_pairs %>
  </div>

  <div class="row text-center link-button">
    <div class="col-sm-6">
      <%= link_to "お問い合わせ", new_contact_path, class: "btn btn- btn-lg btn-primary col-sm-12" %>
    </div>
    <div class="col-sm-6">
      <%= link_to "投稿をもっと見る", pairs_path, class: "btn btn-lg  btn-success col-sm-12" %>
    </div>
  </div>
</div>



