<% provide(:title, "チャットルーム") %>

<h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_customer.id %>", class="heading text-center"><%= @customer.nickname %> さんとのチャットルーム</h2>

<div class="col-sm-2 text-center">
  <%= attachment_image_tag @customer, :profile_image, :fill, 120, 120, fallback: "no_customer_image.jpg", size: "120x120", class: "profile-image"  %>
  <p><strong><%= @customer.nickname %></strong></p>
</div>

<div class="message col-sm-8">
  <% @chats.each do |chat| %>
    <% if chat.customer_id == current_customer.id %>
      <p style="text-align: right"><%= chat.message %></p>
    <% else %>
      <p style="text-align: left"><%= chat.message %></p>
    <% end %>
  <% end %>
</div>

<div class="col-sm-2 text-center">
  <%= attachment_image_tag current_customer, :profile_image, :fill, 120, 120, fallback: "no_customer_image.jpg", size: "120x120", class: "profile-image"  %>
  <p><strong><%= current_customer.nickname %></strong></p>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_field :message, class: "form-contro col-sm-offset-3 col-sm-6 col-sm-offset-3" %>
  <%= f.hidden_field :room_id %>
<% end %>