<% pairs.each do |pair| %>
<div class="col-sm-3 text-center">
  <%= link_to pair_path(pair) do %>
  <%= attachment_image_tag pair, :image, :fill, 240, 240, fallback: "no_image.jpg", size: "240x240", class: "pair-image" %>
  <h5><%= pair.title %></h5>
  <% if customer_signed_in? %>
  <div>
    <% if pair.liked_by?(current_customer) %>
    <%= link_to pair_likes_path(pair), method: :DELETE do %>
    <i class="fas fa-heart red-heart"><span><%= pair.likes.count %></span></i>
    <% end %>
    <% else %>
    <%= link_to pair_likes_path(pair), method: :POST do %>
    <i class="far fa-heart"><%= pair.likes.count %></i>
    <% end %>
    <% end %>
    <span>/ コメント数：<%= pair.comments.count %></span>
  </div>
  <% end %>
  <% end %>
</div>
<% end %>