<div class="row">
  <h2 class="heading text-center">投稿一覧（全<%= Pair.count %>件）</h2>

  <% @pairs.each do |pair| %>
  <div class=col-sm-3>
    <%= link_to pair_path(pair) do %>
    <%= attachment_image_tag pair, :image, :fill, 240, 240, fallback: "no_image.jpg", size: "240x240", class: "pair-image" %>
    <h5 class="text-center"><%= pair.title %></h5>
    <% if customer_signed_in? %>
    <div class="text-center">
      <% if pair.liked_by?(current_customer) %>
      <%= link_to pair_likes_path(pair), method: :DELETE do %>
      <i class="fas fa-star"><%= pair.likes.count %></i>
      <% end %>
      <% else %>
      <%= link_to pair_likes_path(pair), method: :POST do %>
      <i class="far fa-star"><%= pair.likes.count %></i>
      <% end %>
      <% end %>
      <span>/ コメント数：<%= pair.comments.count %></span>
    </div>
    <% end %>
    <% end %>
  </div>
  <% end %>

</div>
