<div class="row">
  <% if customer_signed_in? %>
  <%= render 'sort_form' %>
  <%= render 'search_form' %>
<% end %>
</div>

<div class="row">
  <h2 class="heading text-center">投稿一覧（全<%= @pairs.count %>件）</h2>

  <%= render 'customer/pairs/index', pairs: @pairs %>
  <div class="text-center col-sm-12"><%= paginate @pairs %></div>

</div>