<div class="row">
  <div class="sort-form col-sm-3 pull-left">
    <%= form_with(url: sort_admin_pairs_path, method: :GET, local: true) do |f| %>
    <div class="input-group">
      <%= f.select :keyward, [ ['投稿が新しい順', 'new'],
      ['投稿が古い順', 'old'],
      ['いいねが多い順', 'likes'],
      ['いいねが少ない順', 'dislikes'],
      ['コメントが多い順', 'many_comments'],
      ['コメントが少ない順', 'few_comments'],
    ],
    {}, class: "form-control" %>
    <span class="input-group-btn">
      <%= f.submit "並び替え", class: "btn btn-warning" %>
    </span>
  </div>
  <% end %>
</div>
<div class="search-form col-sm-4 pull-right">
  <%= form_tag(admin_search_path, method: :GET) do %>
  <div class="input-group">
    <%= text_field_tag 'search[content]', "", class: "form-control", placeholder: "タイトルで検索" %>
    <span class="input-group-btn">
      <%= button_tag type: "submit", class: "btn btn-primary" do %>
      <i class="fas fa-search"></i>
      <% end %>
    </span>
  </div>
  <% end %>
</div>
</div>

<div class="row">
  <h2 class="heading text-center">投稿一覧（全<%= @pairs.count %>件）</h2>

  <%= render 'index', pairs: @pairs %>

</div>