<header class="header navbar navbar-fixed-top">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <!-- 後程ロゴと差し替え予定 -->
      <%= link_to root_path do %>
        <img alt="logo" src="<%= asset_path "logo.png" %>" class="logo">
      <% end %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if customer_signed_in? %>
        <li class="badge badge-success login-message"><i class="fas fa-user"></i> <%= current_customer.nickname %>さん</li>
        <li class="btn">
          <%= link_to customer_path(current_customer) do %>
            <i class="fas fa-home"> マイページ</i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to pairs_path do %>
            <i class="fas fa-camera-retro"> 投稿一覧</i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to new_pair_path do %>
            <i class="fas fa-plus-square"> 新規投稿</i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to notifications_path do
           %>
            <i class="fas fa-bell"> 通知一覧</i>
          <% end %>
        </li>
        <li class="btn"><%= link_to  destroy_customer_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"> ログアウト</i>
          <% end %>
        </li>
        <% elsif admin_signed_in? %>
        <li class="btn">
          <%= link_to admin_root_path do %>
            <i class="fas fa-home"> トップ</i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to  admin_customers_path do %>
            <i class="fas fa-users"> 会員一覧</i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to  admin_pairs_path do %>
            <i class="fas fa-camera-retro"> 投稿一覧</i>
          <% end %>
        </li>
        <li class="btn"><%= link_to  destroy_admin_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"> ログアウト</i>
          <% end %>
        </li>
        <% else %>
        <li class="btn">
          <%= link_to about_path do %>
            <i class="fas fa-clipboard"> 概要</i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to pairs_path do %>
            <i class="fas fa-camera-retro"> 投稿一覧</i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to new_customer_registration_path do %>
            <i class="fas fa-user-plus"> 新規登録</i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to new_customer_session_path do %>
            <i class="fas fa-sign-in-alt"> ログイン</i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to new_admin_session_path do %>
            <i class="fas fa-toolbox"> 管理者ログイン</i>
          <% end %>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>