<!DOCTYPE html>
<html>
<head>
  <title>PairingTime</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/0daeb9e6e6.js" crossorigin="anonymous"></script>
</head>

<body>

  <%= render 'layouts/header' %>

  <div class="container">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>
  <footer class="footer navbar navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="pull-right">
          <p>© All rights reserved by Yoshida Inc.</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
