<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="https://kit.fontawesome.com/0daeb9e6e6.js" crossorigin="anonymous"></script>
</head>

<body>

  <%= render 'layouts/header' %>

  <div class="container">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
