<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script src="https://kit.fontawesome.com/0daeb9e6e6.js" crossorigin="anonymous"></script>
</head>

<body>

  <%= render 'layouts/header' %>

  <div class="container">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>
  <footer class="footer navbar navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="share-button">
          <!-- Facebook共有 -->
          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v8.0" nonce="utEHjNdi"></script>
          <div class="fb-share-button" data-href="http://52.197.185.160/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F52.197.185.160%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
          <!-- Line共有 -->
          <div class="line-it-button" data-lang="ja" data-type="share-a" data-ver="3" data-url="http://52.197.185.160/" data-color="default" data-size="small" data-count="false" style="display: none;"></div>
          <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        </div>
        <div class="pull-right">
          <p>© All rights reserved by Yoshida Inc.</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
